.idea/
cache/
# Added by goreleaser init:
dist/

*~
.#*

# OS X Desktop Service Store
.DS_Store

.generated

dist/
node_modules/
target/
.vagrant/

# IDE poo
TAGS
.settings
.classpath
.project
.idea/
*.iml

# Build and test process
.coverage

# Terraform extras (tfvars should perhaps be committed)
.terraform
terraform.tfvars
terraform.tfstate.backup

# bzlmod lockfile which is useless:
# "Importantly, it only includes dependencies that are included in the current invocation of the build"
/MODULE.bazel.lock

*.pyc
/bazel-*
*.crt
*.key
*.pcap
*-rsa
*.pub
*.PEM
*.pw
.vscode
*.bak
.ijwb
jmeter.log

# Python
__pycache__

# Go
go.mod
go.sum
!/go.mod
!/go.sum

# VIM
.*.sw?
.*.un~
tags

# Tailwind
tailwind.config.js

# intellij http client
http-client.private.env.json
